{% extends 'base.html' %}
{% block content %}

<h1 style="text-align: center;">FACE EMOTION RECOGNITION</h1>
<div style="justify-content: left; display: flex; margin-top: 30px;"><img src="{{ url_for('video') }}"></div>

<div class='container'>
    {% block about %}
        <div class="input_field">
            <h2 style='color: #110e04'> Click below Button to display Song based on Emotion</h2>
            <div class="break"></div>
                <div class="ml-container">
                    <a href="/recommend"><input   class='button1' form='form1' value='Get Song recommendations!' type="submit"></a>
                </div>
        </div>

            <div class="results">
                {% block results %}
                
                {% endblock %}
            </div>
        </div>
    {% endblock %}

{% endblock %}